//

// Overriding default react-prosidebar styles
$sidebar-bg-color: $color-primary;
$submenu-bg-color: $color-dark;
.pro-sidebar-header {
  text-align: center;
}
.pro-sidebar {
  height: 100vh !important;

  > .pro-sidebar-inner {
    > .pro-sidebar-layout .pro-sidebar-header {
      border-bottom: none !important;
    }
  }
}

// CSS Modules for component

.toggle {
  position: absolute;
  right: 15px;
  top: 10px;
}

// SideBarActionButton styles
.SideBarAction {
  &Container {
    align-items: center;
    padding: 10px 35px 10px 20px;
    cursor: pointer;
  }

  &IconWrapper {
    margin-right: 10px;
    font-size: 14px;
    width: 35px;
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
  }

  &Content {
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
  }
}
// Original Stylesheet
@import "~react-pro-sidebar/dist/scss/styles.scss";
