.ChatMessage {
  &Content {
    color: $color-white;
    &Received {
      background-color: $background-received-message;
    }

    &Sent {
      background-color: $background-sent-message;
    }
  }
}

.ChatUserCard {
  &Container {
    &:hover {
      background-color: rgba($color: $color-dark, $alpha: 0.4);
    }
  }
}
