.ActionButtonWithIcon {
  border: 1px solid $border-one;
  background-color: $background-button;
  color: $color-button;

  &:hover {
    background-color: $background-button-hover;
    color: $color-button-hover;
  }
}
.ActionButtonWithIconSecondary {
  border: 1px solid $border-one;
  background-color: $background-sec-button;
  color: $color-sec-button;

  &:hover {
    background-color: $background-sec-button-hover;
    color: $color-sec-button-hover;
  }
}
