.TaskCard {
  &Container {
    transition: all 0.4s ease-in-out;
    border-radius: 0px;
    padding: 20px;
    position: relative;
    margin-top: 0.4rem;
    color: $task-card-content-color;
    background-color: $background-task-card;
    box-shadow: rgb(99 99 99 / 10%) 0px 2px 8px 0px;
    border-bottom: solid 2px;
  }

  &Small {
    font-size: 0.6rem;
  }
}
