.text-sm {
  font-size: 0.7rem;
}

.text-md {
  font-size: 0.9rem;
}

.text-lg {
  font-size: 1.6rem;
}

.overflow-y-scroll {
  overflow-y: auto;
}

.mh-350 {
  max-height: 350px;
}

.mh-400 {
  max-height: 400px;
}

.mh-450 {
  max-height: 450px;
}
.mh-500 {
  max-height: 500px;
}

.minh-300 {
  min-height: 300px;
}

.custom-container {
  background-color: $background-custom-container;
}
.custom-container-sub {
  background-color: $background-custom-container-sub;
}

.custom-container-primary {
  background-color: $color-primary;
}

.chat-container {
  background-color: $background-chat-container;
}

.chat-container-sub {
  background-color: $background-chat-container-sub;
}

.color-white {
  color: $color-white;
}

.pre-wrap {
  white-space: pre-wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-notification {
  background-color: #fa5148a6;
  color: #fff;
}
