.text-sm {
  font-size: 0.7rem;
}

.text-md {
  font-size: 0.9rem;
}

.overflow-y-scroll {
  overflow-y: auto;
}

.mh-350 {
  max-height: 350px;
}

.mh-400 {
  max-height: 400px;
}

.mh-450 {
  max-height: 450px;
}
.mh-500 {
  max-height: 500px;
}

.custom-container {
  background-color: $background-custom-container;
}
.custom-container-sub {
  background-color: $background-custom-container-sub;
}

.pre-wrap {
  white-space: pre-wrap;
}
