// COLORS
$color-primary: #7c7511;
$task-card-content-color: #000;
$border-one: #ccc;

$background-task-card: #ffef;
$background-button: #eee;
$color-button: #000;
$background-button-hover: #000;
$color-button-hover: #eee;
